* {
	box-sizing: border-box;   /*I couldn't workout the css model, so I've started one from scratch*/
}

body {
	margin:0;
	padding:0;
	height:100%;
	line-height: 1.5;
	font-family: Open Sans;
}
a {
	text-decoration: none;
}
ul {
    list-style-type: circle;
    padding-left: 10vw;
}

.intro
	{
	  height:55vw;
	  width:100%;
	  background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	  background-size: cover;
	  text-align:center;
	}
h1 {
	margin: 0;
	text-align: left;
	padding: 80px;
	color: white;
	font-weight: 700;
	font-size: 4vw;
}

.subtitle {
	color: white;
	padding: 70px;
	font-weight: 300;
	font-size: 3vw;
}
.getit {
	position: relative;
	background-color: #f9e42e;
	color: #121212;
	font-size: 2vw;
	padding: 15px 60px;
	border-radius: 10px;
	font-weight: 600;
}

.benefits-container {
	width: 100%;
	background: #f0efef;
	height: 45vw;
}

.benefits	{
	 background: #f0efef; 
	 text-align: left;
	 color: #121212;
	 padding-left: 5vw;
	 padding-top: 4vw;
	 font-size: 2.5vw;
	 font-weight: 100;
	 width: 65%;										
}
.benefits p {
	padding: 15px 0 35px;
}

.benefits h2 {
	font-weight: 600;
	font-size: 3vw;
}

.phrase-depo-container	{
	  background: url("../images/testimonial_bg.jpg") no-repeat center top rgb(134,141,157);
	  background-size: cover;	
	  height:25vw;
	  color:#FFFFFF;
	  padding-top: 25px;
	  
	}

.depo {
	font-size: 2.5vw;
	font-style: italic;
	text-align: center;
	font-weight: 100;
	margin: auto;
	width: 50%;

}

.amanda {
	font-weight: 400;
	font-size: 3vw;
	text-align: center;

}

.yellow-line {
	background-color: #f9e42e;
	height: 7vw;
	text-align: center;
	padding-top: 18px;
	
}
.signup {
	font-size: 2vw;
	
	background: #033048;
	color: white;
	padding: 10px 25px;
	border-radius: 5px;
}


footer
	{
	  height:15vw;
	  width:100%;
	  background-color: rgb(46, 46, 46);
	  margin:auto;
	  text-align:center;
	  color:#FFFFFF;
	   }

.favicons {
	font-size: 2vw;
	vertical-align: middle;
	padding-top: 15px 25px;


}

.relax {
	font-size: 3vw;
	padding: 5px;
	font-weight: 700;
	color: #f9e42e;
}

.ftrcopy {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 15px;
	font-size: 1.5vw;
}